div.todo-item {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

div.todo-item > div {
    display: flex;
    gap: 20px;
}

div.todo-item .done {
    color: grey;
}

div.todo-item label.done {
    text-decoration: line-through;
}

form {
    border: 1px solid black;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

div.edit {
    display: grid;
    gap: 0px 150px;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
}