div.todo-item {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

div.todo-item > div {
    display: flex;
    gap: 20px;
}

div.todo-item .done {
    color: grey;
}

div.todo-item label.done {
    text-decoration: line-through;
}