body {
    display: grid;
    grid-template: 100px 650px / 1fr 3fr;
    gap: 10px;
}

header {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 50px;
    background-color: lightpink;
    padding: 20px;
    text-align: center;
    border: 3px solid black;
}

div.sidebar {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 30px;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: 3px solid black;
    overflow: auto;
}

.sidebar > .selected {
    font-weight: 900;
}

.add-todo-button,
.add-project-button,
.delete-project-button {
    border-radius: 10px;
    font-size: 20px;
}

div.todo-list {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div.todo-item {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    color: black;
    padding: 10px;
}

div.todo-item.high {
    border: 2px solid red;
}

div.todo-item.medium {
    border: 2px solid orange;
}

div.todo-item.low {
    border: 2px solid yellow;
}

div.todo-item > div {
    display: flex;
    gap: 20px;
}

div.todo-item .done {
    color: grey;
}

div.todo-item label.done {
    text-decoration: line-through;
}

form {
    font-size: 20px;
    border: 1px solid black;
    width: max(150px, 85%);
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

div.edit {
    display: grid;
    gap: 0px 150px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}